body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-phrase {
    margin: 10px;
    text-align: right;
}

.task-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.task-greetings,
.task-description {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task-description {
    font-size: 18px;
}

.task-add {
    padding-block: 30px;
}

.task-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff2f;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.inputs-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn-wrap {
    margin: 0 auto;
}

.add-btn {
    width: 160px;
    height: 60px;
    font-size: 1rem;
    margin-top: 1.4rem;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #dfd9ffff;
    color: rgb(106, 94, 173);
    cursor: pointer;
}

.log-btn {
    font-size: 1rem;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 30%;
    background: #dfd9ffff;
    color: rgb(106, 94, 173);
    cursor: pointer;
}

.log-btn:hover,
.add-btn:hover {
    background: #ff4081ff;
    color: white;
}

.tasks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.grid-wrap {
    max-height: 150px;
}

.task-title,
.task-description,
.task-duration,
.delete-button {
    margin: 15px;
}

.delete-button {
    width: 100px;
    height: 50px;
    font-size: 1rem;
    margin-top: 1.4rem;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #ff4081ff;
    color: white;
    cursor: pointer;
}

.delete-button:hover {
    background: #dfd9ffff;
    color: #222;
}

.isDone,
.notDone {
    background-color: #ffffffb8;
    padding: 10px 0;
    border-radius: 10px;
}

.isDone {
    color: #222;
    background-color: #6FFF87FF;
}

.notDone {
    color: #222;
}